<div class="d-flex justify-content-center mt-5">
  <form style="width:400px" (ngSubmit)="onSubmit()">
    <form-group label="Name">
      <input id="name" name="name" [(ngModel)]="user.name" class="form-control">
    </form-group>
    <form-group label="Email">
      <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control">
    </form-group>
    <form-group label="Password">
      <input type="password"  id="password" name="password" [(ngModel)]="user.password" class="form-control">
    </form-group>
    <button type="sumit" class="btn btn-primary">Submit</button>
  </form>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>