<div class="d-flex justify-content-center mt-5">
  <form style="width:400px">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" [(ngModel)]="user.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"  id="password" name="password" [(ngModel)]="user.password" class="form-control">
    </div>
  </form>
</div>